* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    margin:0;
    background-color: #222222;
    color: white;
    font-family:sans-serif, arial;
}

#wrapper {
    padding:15px 2%;
    max-width: 1200px;
    margin:0 auto;
    background-color: #313338;
}

.category-link, #search {
    border-radius: 10px;
    color: white;
}

.category-link {
    display:inline-block;
    background-color: #232428;
    padding: 5px 10px;
    text-decoration: none;
    padding:10px 15px;
    margin: 5px 5px;
}

#category-links {
    margin-top:15px;
    margin-bottom:15px;
}

#search-box {
    position: relative;
    margin:10px 5px;
}

#search {
    font-size:1.25em;
    padding: .5em 1em;
    background-color:#121212;
    border:none;
    width: 1200px;
    max-width: 100%;
}

#clear-search {
    position: absolute;
    margin-right: 5px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.25em;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: space-between; /* Distribute space evenly between items */
}

img {
    width: 200px;
    height: auto;
    max-width:100%;
    max-height:100%;
    border-radius: 5px;
    cursor: pointer;
}

.active-category {
    background-color:#01BBE4 !important;
    font-weight: bold;
}
