  body {
    margin:0;
    background-color: #222222;
    color: white;
    font-family:sans-serif, arial;
    box-sizing: border-box;
  }

  #wrapper {
    padding:15px 3%;
    max-width: 1100px;
    margin:0 auto;
    background-color: #313338;
  }

  .category-link, #search {
    border-radius: 10px;
    color: white;
  }

  .category-link {
    display:inline-block;
    background-color: #232428;
    padding: 5px 10px;
    text-decoration: none;
    padding:10px 15px;
    margin: 5px 5px;
  }

  #category-links {
    margin-top:15px;
    margin-bottm:15px;
  }

  #search-box {
    position: relative;
  }

  #search {
    font-size:1.25em;
    padding: .5em 1em;
    margin:10px 5px;
    background-color:#121212;
    border:none;
    width: 1050px;
    max-width: 94%;
  }

  #clear-search {
    position: absolute;
    margin-right: 6%;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .image-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  img {
    width: 200px;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
  }

  .active-category {
    background-color:#01BBE4 !important;
    font-weight: bold;
  }
