* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

html,body { 
    height:100%;
}

body {
    margin:0;
    background-color: #222222;
    color: white;
    font-family:sans-serif, arial;
}

#wrapper {
    padding:15px 2%;
    max-width: 1200px;
    min-height: 100%;
    margin:0 auto;
    background-color: #313338;
}


.category-link {
    display:inline-block;
    color: white;
    background-color: #232428;
    text-decoration: none;
    padding:10px 15px;
    margin: 5px;
    border-radius: 10px;
}

#category-links {
    margin: 15px 0;
}

.active-category {
    background-color:#01BBE4 !important;
    font-weight: bold;
}

#topbar {
  display: flex;
  align-items: center;
}


#search-box {
  flex: 1; /* Take up remaining space */
  margin: 10px 20px 10px 0px;
}

#search {
    font-size:1.25em;
    color: white;
    padding: .5em 1em;
    background-color:#121212;
    border:none;
    outline: none;
    width: 100%;
    border-radius: 10px;
}

#clear-search {
    position: absolute;
    margin-right: 5px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.25em;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: center;
    padding-bottom: 40px;
}

.image-container {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: inherit;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 33, 33, .5);
    color: rgba(255, 255, 255, .85);
    font-size: 40px;
}

.icon svg {
  height: 50px;
}

.image-container:hover .icon {
    display: flex;
}

#info-button {
    color: white;
    z-index: 999;
    position: fixed;
    right: 0px;
    bottom: 0px;
    font-size: 3em;
    font-weight: bold;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#react-button {
  height: 2.5em;
  cursor: pointer;
  opacity: 70%;
}

#react-button:hover{
  opacity: 100%;
}
